/* LatestItem */

article.allCommutes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.allCommutesInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 30vw;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--clr-fill-light);
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

i.fa-up-right-from-square{
  color: black;
}

.detailsButton {
  color: var(--clr-primary);
}

.detailsButton:hover {
  color: var(--clr-fill);
}