.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--clr-fill-light);
    border-top: 1px solid var(--clr-fill);
    border-bottom: 1px solid var(--clr-fill);
    color: var(--clr-primary);
}