section#commuteDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.detailsContainer h3{
    text-align: center;
    color: var(--clr-primary);
}

.commuteHeader {
    text-align: center;
}

.reservationActions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hostContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  div .inputButton {
    color: var(--clr-primary);
    border-color: var(--clr-primary);;
    background-color: var(--clr-fill-light);
    min-height: 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin: 1rem 0;
  }
  
  div .inputButton:hover {
    background-color: var(--clr-fill);
  }

  .commentLine {
    max-width: 60vw;
  }