.createComment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.createComment h3 {
    text-align: center;
    color: var(--clr-primary)
}

.commentForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0.25rem;
  }
  
  .formInput {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
  
  .formInput span {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 400;
    line-height: 1;
    color: var(--clr-i-fill);
    text-align: center;
    background-color: var(--clr-field);
    border: 1px solid  var(--clr-field-border);
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
  }
    
  .commentField  span i {
    width: 1.5rem;
    height: 1rem;
    min-width: 28px;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--clr-primary);
  }
    
  .commentField {
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid var(--clr-field-border);
    border-left: none;
    outline: none;
    min-height: 15vh;
    padding: 0.85rem 0.85rem;
    background-color: var(--clr-field);
    border-radius: 1rem;
  }

  .inputButton {
    color: var(--clr-primary);
    border-color: var(--clr-primary);;
    background-color: var(--clr-fill-light);
    min-height: 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin: 1rem 0;
  }
  
  .inputButton:hover {
    background-color: var(--clr-fill);
  }