.notFounContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFoundMessage {
  text-align: center;
  color: var(--clr-primary);
}

.backgroundImage {
  width: 100vw;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

article.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
/* 
.commuteCard {
  display: inline-block;
} */