.navigation {
    background-color: var(--clr-fill-light);
    border-bottom: 2px double var(--clr-primary);
    border-top: 1px outset var(--clr-fill-light);
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.navigation li {
    display: inline-block;
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    color: var(--clr-primary);
}

.navigation li a:hover {
    color: var(--clr-fill);
}

.navigation img {
    width: 50px;
    height: 50px;
}