.navigation {
    background-color: rgb(219, 254, 243);
    border-bottom: 2px double #334a5a;
    border-top: 1px outset rgb(219, 254, 243);
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.navigation li {
    display: inline-block;
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    color: #13bc9c;
}

.navigation img {
    width: 50px;
    height: 50px;
}