:root{
  --clr-primary: #334a5a;
  --clr-fill-light: #dbfef3;
  --clr-fill: #13bc9c;
  --clr-field-border: #d5dee6;
  --clr-field: #f7f7f7;
  --clr-i-fill: #534;
  --clr-error: #d9534f;
}

/* body{
  font-family: Helvetica, sans-serif;
} */

body {
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
   margin-top: auto;
}